$colorAzul: #54d6b6;
$colorWhite: #fff;

@mixin enlances($txtdecora,$color,$align) {
    text-decoration: $txtdecora;
    color: $color;
    align-self: $align;
}

footer .container div> a,a:hover, a:visited{
    @include enlances(none,$colorWhite ,center);
}

.titulo{
    margin-top: 40px;
    background: $colorAzul;
}

.t-w .card > .card-body > .btn{
    color: $colorWhite;
}